/* Reset do style da página, para tirar todos os estilos antes de começar a estilizar */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: initial;
    text-align: initial;
    
} */